.intestazione{
 height: 100px;
 background-image: url(./img/pattern.png);
 background-repeat: repeat-x;
 background-size:contain;
 background-color: rgb(70, 139, 243);
 position: relative;
}

.Logo{
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}
h1{
    font-size: 35px;
    font-family:'Newsreader', serif; 
}

.autore{
    color: rgb(14, 132, 243);
}

.nota{
    color:grey;
    font-size:15px;
    margin-bottom: 10px;
}

.did{
    font-size: smaller;
}

.yellowline{
    background-color: yellow;
}
p{
    font-size: 20px;
}

ul{
    font-size: 18px;
}